* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #262626;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.main-app {
  height: 100vh;
}

.movie__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  max-width: 800px;
  margin: 40px auto;
  gap: 1rem;
  padding: 0 10px 8rem 10px;
  align-items: start;
}
