* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #262626;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.main-app {
  height: 100vh;
}

.movie__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 800px;
  margin: 3rem auto;
  gap: 1rem;
  padding: 0 10px 20px 10px;
  align-items: start;
}

.movie__single {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.movie__title {
  color: white;
  padding: 0.8rem 0;
  font-size: 1rem;
}

.movie__average {
  position: relative;
}

.movie__average__number {
  color: white;
  position: absolute;
  top: 10px;
  font-weight: 600;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #3083dc;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
}
